[lxp]
host = 192.168.0.200
port = 4346
serial = 9393013580
datalog = EF76460231
batteries = 4

# these can be obtained from your Octopus account;
# see the URL under Unit Rates at https://octopus.energy/dashboard/developer/
#
# note that the tariff_code has a different final letter depending
# on your region, so unless you're in West Midlands you may need to change this.
[octopus]
product_code = AGILE-18-02-21
tariff_code = E-1R-AGILE-18-02-21-E

# where the optional server.rb is running, if available
[server]
host = localhost # use 0.0.0.0 to make the server available externally
port = 4346

# an optional list of GPIOs you'd like to control on a Raspberry Pi.
# the names are used in your rules.rb and can be anything you like.
# the numbers are corresponding GPIO numbers.
# See https://www.raspberrypi-spy.co.uk/wp-content/uploads/2012/06/Raspberry-Pi-GPIO-Header-with-Photo.png
[gpios]
zappi = 5

[rules]
# use the cheapest energy to get the batteries to this SOC each night
required_soc = 90
# always charge when electricity is cheaper than this unit price,
# even if the SOC is already higher than required_soc
cheap_charge = 2
# never discharge when electricity is cheaper than this unit price
min_discharge = 3
