[lxp]
host = 192.168.1.2
port = 8000
serial = 1234567890
datalog = AB12345678
batteries = 2

# these can be obtained from your Octopus account;
# see the URL under Unit Rates at https://octopus.energy/dashboard/developer/
#
# note that the tariff_code has a different final letter depending
# on your region, so unless you're in South East England you may need to change this.
[octopus]
product_code = AGILE-18-02-21
tariff_code = E-1R-AGILE-18-02-21-H

# These are found from your Solcast Account
[solcast]
api_key = abcdefghijklmnopqrstuvwxyz123456
resource_id = abcd-1234-efgh
# Enter your house baseload here (in watts) to calculate excess solar.
base_load = 300

[server]
# used by server.rb to open a listening port.
# use 0.0.0.0 here to make the server available externally
listen_host = localhost
# used by octolux.rb to connect to server.rb
connect_host = localhost
port = 4346

[mqtt]
# see https://github.com/mqtt/mqtt.github.io/wiki/URI-Scheme for URI help
# you can leave this commented out if you don't want to use MQTT at all.
# uri = mqtt://nas:1883

[rules]
# use the cheapest energy to get the batteries to this SOC each night
required_soc = 90
# enable emergency charge if approaching peak period with less SOC than this.
# this is a final backup to avoid running out of charge during peak
emergency_soc = 35
# always charge when electricity is cheaper than this unit price,
# even if the SOC is already higher than required_soc
cheap_charge = 2
# never discharge when electricity is cheaper than this unit price
min_discharge = 10
# never charge when electricity is more expensive than this unit price
max_charge = 9
